*::-webkit-scrollbar {
  width: 0px;
}

body{
  max-width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}

html {
  background-color: #f5f5f5 !important;
}

.MuiPaper-root.MuiCard-root.scheduleCard.MuiPaper-elevation1.MuiPaper-rounded {
  min-width: 300px;
  max-width: 300px;
  border-radius: 10px;
  background-color: #fff;
}

.MuiChip-root.chipDay.MuiChip-colorPrimary {
  border-radius: 11px;
}

.MuiPaper-root.MuiCard-root.openCard.MuiPaper-elevation1.MuiPaper-rounded {
  max-width: 300px;
  border-radius: 10px;
  background-color: #71b280 ;
  color : #fff ;
}

.MuiPaper-root.MuiCard-root.closeCard.MuiPaper-elevation1.MuiPaper-rounded {
  max-width: 300px;
  border-radius: 10px;
  background-color: #f56349 ;
  color : #000;
}