<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Planning Kerino - Horaires d'ouverture du pont</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name=”robots” content="index, follow">
		<link rel="apple-touch-icon" href="/assets/icons/logo192.png">
		<link rel="icon" href="/favicon.ico">
		<meta name="theme-color" content="#ffffff" />
		<meta name="description" content="Organisez vos déplacements à pied ou à vélo sur le port de Vannes avec le planning d'ouverture du pont de Kerino." />
	    <link rel="manifest" href="/manifest.json" />

		<meta property="og:title" content="Planning Kerino - Horaires d'ouverture du pont" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="https://kerino.ecobosto.fr/" />
		<meta property="og:image" content="https://kerino.ecobosto.fr/assets/banner.png" />
		<meta property="og:description" content="Organisez vos déplacements à pied ou à vélo sur le port de Vannes avec le planning d'ouverture du pont de Kerino." /> 

		<meta name="twitter:card" value="summary_large_image"> 
		<meta name="twitter:creator" content="@ecobosto">
		<meta name="twitter:site" content="@ecobosto">
		<meta name="twitter:title" content="Planning Kerino - Horaires d'ouverture du pont">
		<meta name="twitter:description" content="Organisez vos déplacements à pied ou à vélo sur le port de Vannes avec le planning d'ouverture du pont de Kerino.">
		<meta name="twitter:image:src" content="https://kerino.ecobosto.fr/assets/banner.png"> 

		<script>
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="//stats.ecobosto.fr/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '4']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		
		<% preact.headEnd %>
	</head>
	<body>
		<noscript>Vous devez activer JavaScript pour utiliser cette application.</noscript>
		<% preact.bodyEnd %>
	</body>
</html>
