/* 
 * Styles ne pouvant pas être intégrés dans Material-UI
 */

html {
    height: 100%;
    font-family: 'Work Sans', sans-serif;
}
body { 
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #006966;
    background: -webkit-linear-gradient(top left, #006966, #5a8e66);
    background: -moz-linear-gradient(top left, #006966, #5a8e66);
    background: linear-gradient(to bottom right, #006966, #5a8e66) no-repeat fixed;
}

/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/work-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/work-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
/* work-sans-500 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/work-sans-v9-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/work-sans-v9-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  